// $brand:#280F91;
$brand:#00cec9;
$blue-light:#0a58ca;
$blueish:#bcc6cb;
$bd-violet:#280F91;
$yellow:#fbfe93;
$ffcc84:#ffcc84;
$bg_antiquewhite:#faebd7;
$amrican-grn:#00cec9;
$amrican-grn1:#0f9894;
$d5d2cb:#d5d2cb;
$bone:#E7DECC;
$black:#000000;
$Pearl:#F26B8B;
$redDanger:#e74c4c;
$errorText:#ffeded;
$beige:#f5f5dc;
$salmon:#FCAB9E;
$coral-light:#EEB6C5;
$sky-blue-light:#dcf3f5;
$raisin:#290916;
$cantaloupe:#FBA171;
$linen:#F7ECDE;
$gold01:#f6eac7;
$woodiesh:#FFEBD8;
$grays:#343a40;
$browniesh:#cbbcbc;
$pinkish:#e3ccd1;
$purple:#d0c8df;
$greys: #d1dbe0;