<section class="footer py-5">
  <div class="container din">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
      <div class="col-md-4">
        <a class="navbar-brand" aria-label="Pixelew logo" href="./"><img src="./images/logo-light.jpg" class="img-fluid" width="140" height="40" title="pixelew.com" alt=""></a>
        <div class="mt-2 text-white">© 2020 - 2024 Pixelew.</div>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex d-none">
        <li class="ms-3"><a class="text-white fs-2" href="#">
            <i class="fa-brands fa-facebook"></i>
          </a></li>
        <li class="ms-3"><a class="text-white fs-2" href="#">
            <i class="fa-brands fa-youtube"></i>
          </a></li>
        <li class="ms-3"><a class="text-white fs-2" href="#">
            <i class="fa-brands fa-pinterest"></i>
          </a></li>
      </ul>
    </footer>
  </div>
</section>